//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 26 13:27:17 2020
//! **************************************************************************

SCHEMATIC START;
COMP "fclk" LOCATE = SITE "P56" LEVEL 1;
COMP "LED" LOCATE = SITE "P121" LEVEL 1;
TIMEGRP fclk = BEL "LED" BEL "blinky.cnt_0" BEL "blinky.cnt_1" BEL
        "blinky.cnt_2" BEL "blinky.cnt_3" BEL "blinky.cnt_4" BEL
        "blinky.cnt_5" BEL "blinky.cnt_6" BEL "blinky.cnt_7" BEL
        "blinky.cnt_8" BEL "blinky.cnt_9" BEL "blinky.cnt_10" BEL
        "blinky.cnt_11" BEL "blinky.cnt_12" BEL "blinky.cnt_13" BEL
        "blinky.cnt_14" BEL "blinky.cnt_15" BEL "blinky.cnt_16" BEL
        "blinky.cnt_17" BEL "blinky.cnt_18" BEL "blinky.cnt_19" BEL
        "blinky.cnt_20" BEL "blinky.cnt_21" BEL "blinky.cnt_22" BEL
        "blinky.cnt_23" BEL "blinky.cnt_24" BEL "fclk_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "fclk" 10 ns HIGH 50%;
SCHEMATIC END;

