//! **************************************************************************
// Written by: Map P.20131013 on Thu Apr 02 12:31:04 2020
//! **************************************************************************

SCHEMATIC START;
COMP "fclk" LOCATE = SITE "P56" LEVEL 1;
COMP "ledb" LOCATE = SITE "P117" LEVEL 1;
COMP "ledg" LOCATE = SITE "P116" LEVEL 1;
COMP "ledr" LOCATE = SITE "P118" LEVEL 1;
TIMEGRP fclk = BEL "state_0" BEL "state_1" BEL "state_2" BEL "state_3" BEL
        "state_4" BEL "state_5" BEL "state_6" BEL "state_7" BEL "state_8" BEL
        "state_9" BEL "state_10" BEL "state_11" BEL "state_12" BEL "state_13"
        BEL "state_14" BEL "state_15" BEL "state_16" BEL "state_17" BEL
        "state_18" BEL "state_19" BEL "state_20" BEL "state_21" BEL "state_22"
        BEL "state_23" BEL "state_24" BEL "state_25" BEL "state_26" BEL
        "state_27" BEL "state_28" BEL "state_29" BEL "state_30" BEL "state_31"
        BEL "substate_0" BEL "cntstep_0" BEL "cntstep_1" BEL "cntstep_2" BEL
        "cntstep_3" BEL "cntstep_4" BEL "cntstep_5" BEL "cntstep_6" BEL
        "cntstep_7" BEL "cntstep_8" BEL "cntstep_9" BEL "cntstep_10" BEL
        "cntstep_11" BEL "cntstep_12" BEL "cntstep_13" BEL "cntstep_14" BEL
        "cntstep_15" BEL "cntstep_16" BEL "cntstep_17" BEL "cntstep_18" BEL
        "cntstep_19" BEL "cntstep_20" BEL "cntstep_21" BEL "cntstep_22" BEL
        "cntstep_23" BEL "cntstep_24" BEL "cntstep_25" BEL "cntstep_26" BEL
        "cntstep_27" BEL "cntstep_28" BEL "cntstep_29" BEL "cntstep_30" BEL
        "cntstep_31" BEL "bduty_0" BEL "bduty_1" BEL "bduty_2" BEL "bduty_3"
        BEL "bduty_4" BEL "bduty_5" BEL "bduty_6" BEL "bduty_7" BEL "bduty_8"
        BEL "bduty_9" BEL "bduty_10" BEL "bduty_11" BEL "bduty_12" BEL
        "bduty_13" BEL "bduty_14" BEL "bduty_15" BEL "bduty_16" BEL "bduty_17"
        BEL "bduty_18" BEL "bduty_19" BEL "bduty_20" BEL "bduty_21" BEL
        "bduty_22" BEL "bduty_23" BEL "bduty_24" BEL "bduty_25" BEL "bduty_26"
        BEL "bduty_27" BEL "bduty_28" BEL "bduty_29" BEL "bduty_30" BEL
        "bduty_31" BEL "rduty_0" BEL "rduty_1" BEL "rduty_2" BEL "rduty_3" BEL
        "rduty_4" BEL "rduty_5" BEL "rduty_6" BEL "rduty_7" BEL "rduty_8" BEL
        "rduty_9" BEL "rduty_10" BEL "rduty_11" BEL "rduty_12" BEL "rduty_13"
        BEL "rduty_14" BEL "rduty_15" BEL "rduty_16" BEL "rduty_17" BEL
        "rduty_18" BEL "rduty_19" BEL "rduty_20" BEL "rduty_21" BEL "rduty_22"
        BEL "rduty_23" BEL "rduty_24" BEL "rduty_25" BEL "rduty_26" BEL
        "rduty_27" BEL "rduty_28" BEL "rduty_29" BEL "rduty_30" BEL "rduty_31"
        BEL "gduty_0" BEL "gduty_1" BEL "gduty_2" BEL "gduty_3" BEL "gduty_4"
        BEL "gduty_5" BEL "gduty_6" BEL "gduty_7" BEL "gduty_8" BEL "gduty_9"
        BEL "gduty_10" BEL "gduty_11" BEL "gduty_12" BEL "gduty_13" BEL
        "gduty_14" BEL "gduty_15" BEL "gduty_16" BEL "gduty_17" BEL "gduty_18"
        BEL "gduty_19" BEL "gduty_20" BEL "gduty_21" BEL "gduty_22" BEL
        "gduty_23" BEL "gduty_24" BEL "gduty_25" BEL "gduty_26" BEL "gduty_27"
        BEL "gduty_28" BEL "gduty_29" BEL "gduty_30" BEL "gduty_31" BEL
        "pwmb/ipin" BEL "pwmg/ipin" BEL "pwmr/ipin" BEL "pwmb/cnt_0" BEL
        "pwmb/cnt_1" BEL "pwmb/cnt_2" BEL "pwmb/cnt_3" BEL "pwmb/cnt_4" BEL
        "pwmb/cnt_5" BEL "pwmb/cnt_6" BEL "pwmb/cnt_7" BEL "pwmb/cnt_8" BEL
        "pwmb/cnt_9" BEL "pwmb/cnt_10" BEL "pwmb/cnt_11" BEL "pwmb/cnt_12" BEL
        "pwmb/cnt_13" BEL "pwmb/cnt_14" BEL "pwmb/cnt_15" BEL "pwmb/cnt_16"
        BEL "pwmb/cnt_17" BEL "pwmb/cnt_18" BEL "pwmb/cnt_19" BEL
        "pwmb/cnt_20" BEL "pwmb/cnt_21" BEL "pwmb/cnt_22" BEL "pwmb/cnt_23"
        BEL "pwmb/cnt_24" BEL "pwmb/cnt_25" BEL "pwmb/cnt_26" BEL
        "pwmb/cnt_27" BEL "pwmb/cnt_28" BEL "pwmb/cnt_29" BEL "pwmb/cnt_30"
        BEL "pwmb/cnt_31" BEL "pwmg/cnt_0" BEL "pwmg/cnt_1" BEL "pwmg/cnt_2"
        BEL "pwmg/cnt_3" BEL "pwmg/cnt_4" BEL "pwmg/cnt_5" BEL "pwmg/cnt_6"
        BEL "pwmg/cnt_7" BEL "pwmg/cnt_8" BEL "pwmg/cnt_9" BEL "pwmg/cnt_10"
        BEL "pwmg/cnt_11" BEL "pwmg/cnt_12" BEL "pwmg/cnt_13" BEL
        "pwmg/cnt_14" BEL "pwmg/cnt_15" BEL "pwmg/cnt_16" BEL "pwmg/cnt_17"
        BEL "pwmg/cnt_18" BEL "pwmg/cnt_19" BEL "pwmg/cnt_20" BEL
        "pwmg/cnt_21" BEL "pwmg/cnt_22" BEL "pwmg/cnt_23" BEL "pwmg/cnt_24"
        BEL "pwmg/cnt_25" BEL "pwmg/cnt_26" BEL "pwmg/cnt_27" BEL
        "pwmg/cnt_28" BEL "pwmg/cnt_29" BEL "pwmg/cnt_30" BEL "pwmg/cnt_31"
        BEL "pwmr/cnt_0" BEL "pwmr/cnt_1" BEL "pwmr/cnt_2" BEL "pwmr/cnt_3"
        BEL "pwmr/cnt_4" BEL "pwmr/cnt_5" BEL "pwmr/cnt_6" BEL "pwmr/cnt_7"
        BEL "pwmr/cnt_8" BEL "pwmr/cnt_9" BEL "pwmr/cnt_10" BEL "pwmr/cnt_11"
        BEL "pwmr/cnt_12" BEL "pwmr/cnt_13" BEL "pwmr/cnt_14" BEL
        "pwmr/cnt_15" BEL "pwmr/cnt_16" BEL "pwmr/cnt_17" BEL "pwmr/cnt_18"
        BEL "pwmr/cnt_19" BEL "pwmr/cnt_20" BEL "pwmr/cnt_21" BEL
        "pwmr/cnt_22" BEL "pwmr/cnt_23" BEL "pwmr/cnt_24" BEL "pwmr/cnt_25"
        BEL "pwmr/cnt_26" BEL "pwmr/cnt_27" BEL "pwmr/cnt_28" BEL
        "pwmr/cnt_29" BEL "pwmr/cnt_30" BEL "pwmr/cnt_31" BEL "cntcolor_0" BEL
        "cntcolor_1" BEL "cntcolor_2" BEL "cntcolor_3" BEL "cntcolor_4" BEL
        "cntcolor_5" BEL "cntcolor_6" BEL "cntcolor_7" BEL "cntcolor_8" BEL
        "cntcolor_9" BEL "cntcolor_10" BEL "cntcolor_11" BEL "cntcolor_12" BEL
        "cntcolor_13" BEL "cntcolor_14" BEL "cntcolor_15" BEL "cntcolor_16"
        BEL "cntcolor_17" BEL "cntcolor_18" BEL "cntcolor_19" BEL
        "cntcolor_20" BEL "cntcolor_21" BEL "cntcolor_22" BEL "cntcolor_23"
        BEL "cntcolor_24" BEL "cntcolor_25" BEL "cntcolor_26" BEL
        "cntcolor_27" BEL "cntcolor_28" BEL "cntcolor_29" BEL "cntcolor_30"
        BEL "cntcolor_31" BEL "fclk_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "fclk" 10 ns HIGH 50%;
SCHEMATIC END;

