//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 26 13:38:00 2020
//! **************************************************************************

SCHEMATIC START;
COMP "fclk" LOCATE = SITE "P56" LEVEL 1;
COMP "LED" LOCATE = SITE "P121" LEVEL 1;
TIMEGRP fclk = BEL "LED" BEL "cnt_0" BEL "cnt_1" BEL "cnt_2" BEL "cnt_3" BEL
        "cnt_4" BEL "cnt_5" BEL "cnt_6" BEL "cnt_7" BEL "cnt_8" BEL "cnt_9"
        BEL "cnt_10" BEL "cnt_11" BEL "cnt_12" BEL "cnt_13" BEL "cnt_14" BEL
        "cnt_15" BEL "cnt_16" BEL "cnt_17" BEL "cnt_18" BEL "cnt_19" BEL
        "cnt_20" BEL "cnt_21" BEL "cnt_22" BEL "cnt_23" BEL "cnt_24" BEL
        "fclk_BUFGP/BUFG";
TS_CLK = PERIOD TIMEGRP "fclk" 20 ns HIGH 50%;
SCHEMATIC END;

