NET "CLK" LOC = "P56";
NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 20 ns HIGH 50 %; 
NET "LED0" LOC = "P121";
NET "LED1" LOC = "P123";
NET "LED2" LOC = "P124";
NET "LED3" LOC = "P126";
NET "LED4" LOC = "P127";
NET "LED5" LOC = "P131";
NET "LED6" LOC = "P132";
NET "LED7" LOC = "P133";
